$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary:  #f8f9fa;
// $primary: #343a40;
$secondary: #6c757d;
$success: #00c732;
$info: #0d0f0f;
$warning: #ffa807;
$danger: #dc3545;
$light: #343a40;;
$dark: #343a40;
$breakpoint-xs: 0;
$breakpoint-sm: 800px;
$breakpoint-md: 900px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

@font-face {
      font-family: "Open Sans";
      src: url("./css/OpenSans-Regular.ttf");
}

@font-face {
      font-family: "Open Sans";
      src: url("./css/OpenSans-Light.ttf");
      font-weight: 300;
}

@font-face {
      font-family: "Open Sans";
      src: url("./css/OpenSans-Bold.ttf");
      font-weight: 700;
}

@font-face {
      font-family: "Open Sans";
      src: url("./css/OpenSans-ExtraBold.ttf");
      font-weight: 900;
}

@font-face {
      font-family: "Open Sans";
      src: url("./css/OpenSans-Italic.ttf");
      font-style: italic;
}

@font-face {
      font-family: "Open Sans";
      src: url("./css/OpenSans-LightItalic.ttf");
      font-weight: 300;
      font-style: italic;
}

@font-face {
      font-family: "Open Sans";
      src: url("./css/OpenSans-BoldItalic.ttf");
      font-weight: 700;
}

@font-face {
      font-family: "Open Sans";
      src: url("./css/OpenSans-ExtraBoldItalic.ttf");
      font-weight: 900;
}

$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
      'Courier New', monospace;
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-vue/src/index.scss';

body {
      color: #fff;
}